# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.out
*.app

# Images
*.jpg

# Python venv
gui/Include/
gui/Lib/
gui/share/
gui/pyvenv.cfg
gui/Scripts/
gui/tmp*

# Keras model
*.keras